<div class="template-mindmap">
  <div class="handout-content">
    <h1 class="title">{{topic}} 知识图谱</h1>
    
    <div class="linear-layout">
      <div class="center-node">{{topic}}</div>
      
      <div class="hierarchy-list">
        <div class="level-1">核心概念</div>
        <div class="level-2">{{introduction}}</div>
        <div class="level-2">{{explanation}}</div>
        
        <div class="level-1">重点知识</div>
        <div class="level-2">{{keyPoints}}</div>
        
        <div class="level-1">典型例题</div>
        <div class="level-2">{{examples}}</div>
        
        <div class="level-1">常见误区</div>
        <div class="level-2">{{commonMisconceptions}}</div>
        
        <div class="level-1">知识总结</div>
        <div class="level-2">{{summary}}</div>
      </div>
    </div>
  </div>
</div>